#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
combo_##NAME { \
    timeout-ms = <20>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
};
/{
behaviors {
        
        hl: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods left";
            #binding-cells = <2>;
            //flavor = "hold-preferred";
            // flavor = "tap-preferred";
            flavor = "balanced";
            tapping-term-ms = <250>;
            //quick-tap-ms = <100>;
            //hold-while-undecided;
            // global-quick-tap;
            bindings = <&kp>, <&kp>;
            // opposite side hand keys
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 30 31 32 33 34 35>;
        };
        hr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods right";
            #binding-cells = <2>;
            //flavor = "hold-preferred";
            // flavor = "tap-preferred";
            flavor = "balanced";
            tapping-term-ms = <250>;
            //hold-while-undecided;
            //quick-tap-ms = <100>;
            // global-quick-tap;
            bindings = <&kp>, <&kp>;
            // opposite side hand keys
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35>;
        };
    };

    combos {
        compatible = "zmk,combos";
        /* Top corners (Q+P) = bootloader */
        combo_boot {
            key-positions = <0 9>;
            bindings = <&bootloader>;
        };
        /* Bottom corners (Z+/) = RGB toggle */
        combo_rgb_tog {
            key-positions = <20 29>;
            bindings = <&rgb_ug RGB_TOG>;
        };
        COMBO(shiftablesch, &macro_shiftable_sch, 17 18, 0)
        COMBO(LT,   &kp NUBS,       21  22, 0) 
        COMBO(GT,   &kp LS(NUBS),   27  28, 0)
        COMBO(DOT,  &kp DOT,        12  13, 0)
        COMBO(CMA,&kp COMMA,        16  17, 0 1)
        COMBO(ESC,  &kp ESC,        10  1,  0)
        COMBO(SQT,  &kp LS(NUHS),   22  23, 0)
        COMBO(DQT,  &kp LS(N2),     25  27, 0)
        COMBO(EQL,  &kp LS(N0),     25  27, 1)
        COMBO(ENTR, &kp ENTER,      7   8,  0 1 2 3)

        // COMBO(UML_AE, &kp SQT , 11 12, 0)
        // COMBO(UML_OE, &kp SEMI, 12 13, 0)
        // COMBO(UML_UE, &kp LBKT, 10 11, 0)
        // COMBO(DE_SS, &kp MINUS, 18 19, 0)
    };
macros {       
        snip: snip {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT &kp LEFT_GUI
                        &macro_tap &kp S
                        &macro_release &kp LSHIFT &kp LEFT_GUI>;
            label = "SNIP";
        };
        macro_shiftable_sch: macro_shiftable_sch {
            label = "Macro_shiftable_sch";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                    &macro_tap &kp S
                    &macro_release &kp LSHIFT
                    &macro_tap &kp C &kp H
            >;
            tap-ms = <10>;
        };

        
    };
    keymap {
        compatible = "zmk,keymap";

        Base  {
// ------------------------------------------------------------------------------------------------------
// |    0    |    1    |    2    |    3    |    4    |    5    |    6    |    7    |    8    |    9    |
// |   10    |   11    |   12    |   13    |   14    |   15    |   16    |   17    |   18    |   19    |
// |   20    |   21    |   22    |   23    |   24    |   25    |   26    |   27    |   28    |   29    |
//                               |   30    |   31    |   32    |   33    |
            bindings = <
    &kp Q       &kp V        &kp K          &kp C           &kp SLASH   &kp NUHS    &kp H       &kp G       &kp F       &kp P
    &kp U       &hl LALT I   &hl LSHFT A    &hl LCTRL E     &kp O       &kp D       &hr LCTRL N &hr LSHFT R &hr LALT T  &kp S
    &hl LGUI X  &kp Z        &kp Y          &kp L           &kp DOT     &kp COMMA   &kp M       &kp B       &kp W       &hr LGUI J
                                            &lt 1 SPACE     &lt 2 TAB   &kp LALT    &lt 3 BSPC
            >;
        };
       Num {
           bindings = <
   &kp F1      &kp F2        &kp F3           &kp F4           &kp F5     &kp F6         &kp F7       &kp F8       &kp F9       &kp F10
   &kp N1      &hl LALT N2   &hl LSHFT N3     &hl LCTRL N4     &kp N5     &kp N6         &hr LCTRL N7 &hr LSHFT N8 &hr LALT N9  &kp N0
   &kp DEL     &kp RA(N7)    &kp RA(N8)       &kp LS(N8)       &kp FSLH   &kp LS(FSLH)   &kp RBRC     &kp SLASH   &kp LS(RBRC)   &kp LS(N7) 
                                               &trans           &trans     &trans          &trans   
        >;
      }; 
        Nav {
            bindings = <
    &kp TAB     &kp HOME     &kp UP        &kp END        &snip        &kp LS(N5)   &kp LS(N2)      &kp BSLH         &kp GRAVE    &kp NUHS
    &kp DEL     &kp LEFT     &hl LSHFT DOWN &kp RIGHT     &kp LC(S)    &kp LS(N0)   &hr LCTRL RBRC  &hr LSHIFT SLASH &hr LALT LS(RBRC)      &kp LS(N7)
    &kp LC(Y)   &kp LC(X)    &kp LC(C)     &kp LC(V)      &kp NUBS     &kp LS(GRAVE) &kp LS(N6)         &kp RA(BSLH)       &kp RA(RBRC)  &kp RA(MINUS)
                                           &trans         &trans       &trans       &trans 
            >;
        };
    //     Nav {
    //         bindings = <
    // &kp TAB     &kp HOME     &kp UP        &kp END        &snip        &kp LS(N5)   &kp LS(N2)         &kp BSLH            &kp GRAVE    &kp NUHS
    // &kp DEL     &kp LEFT     &hl LSHFT DOWN &kp RIGHT     &kp LC(S)    &kp LS(N0)   &hr LCTRL RBRC  &hr LSHIFT SLASH &hr LALT LS(RBRC)      &kp LS(N7)
    // &kp LC(Y)   &kp LC(X)    &kp LC(C)     &kp LC(V)      &kp NUBS     &kp LS(GRAVE) &kp LS(N6)         &kp RA(BSLH)       &kp RA(RBRC)  &kp RA(MINUS)
    //                                        &trans         &trans       &trans       &trans 
    //         >;
    //     };       jj

        DE {
            bindings = <
&trans      &trans  &trans  &trans      &trans      &trans    &trans    &trans  &trans  &kp ENTER
&kp LBKT    &trans  &kp SQT &kp RA(E)   &kp SEMI    &trans    &kp LS(N1)    &hr LSHIFT LS(MINUS)  &trans  &kp MINUS
&trans      &trans  &trans  &trans      &trans      &trans    &trans          &trans  &trans  &trans
                        &trans      &trans      &trans          &trans  
            >;
        };
    };
};
